/* tablet: dai 768px in giù
mobile: dai 576px in giù*/



/*mobile first */

@media screen and (max-width : 576px) {




    .text {
        text-align: left;
        font-size: 15px;
    }

    .row {

        flex-direction: column;

    }


}