/* tablet: dai 768px in giù
mobile: dai 576px in giù*/



/*mobile first */

@media screen and (max-width : 576px) {



    /*incolonnamento colonne*/
    .row {

        flex-direction: column;

    }



    /*TABLET */

    @media screen and (max-width:768px) {



        /*allineamneto testuale */


        .text-center {

            display: flex;
            justify-content: center;
            align-items: center;

        }

        /*centramento colonne*/

        .row {

            align-items: center;
            flex-direction: column;
        }








    }